<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>BookRegistration</title>
<style>
        .note {
            text-decoration: underline;
            color: green;
            font-size: 80%;
        }
    </style>
</head>

<body>
<h1>新規登録</h1>
<p>登録したい書籍名・著者・ISBNをすべて入力してください</p>
<form action="/add" method="post">
<table style="width:50%;" border="1">
<tr>
<th width="30%">書籍名</th>
<td width="70%"><input type="text"name="title"></td>
</tr>
<tr>
<th width="30%">著者</th>
<td width="70%"><input type="text" name="author"></td>
</tr>
<tr>
<th width="30%">ISBN</th>
<td width="70%"><input type="number" name="isbn"></td>
</tr>
<tr>
<th width="30%">貸出状況</th>
<td width="70%"><input type="text" name="status" value="AVAILABLE"<p><span class="note">※貸出状況は変更しないでください</span></p></td>
</tr>
</table>
<br>
<input type="submit" value="登録">
</form>
</body>

</html>
 